<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RaushanProfile</title>
      <link rel = "icon" href ="https://raw.githubusercontent.com/antonmc/minifig/HEAD/output.svg?sanitize=true"
        type = "image/x-icon">
</head>
<body>
    <link rel="stylesheet" href="public/static/css/style.css">
    <script type="text/javascript" src="public/static/js/script.js"></script>
<p>
    <br>
     <img src="me.jpg" width="200" height="200" alt="MyPic"><br>
    <b style="color:purple;">+91 7018958256<br>19raushaniiitu@gmail.com <br>
    <a href="https://github.com/Raushan19">https://github.com/Raushan19</a><br>
        <a href="https://www.linkedin.com/in/raushan-kumar-590449b7/">https://www.linkedin.com/in/raushan-kumar-590449b7/</a><br></b>

</p>
<!--<hr>-->
<h2>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <b style="color:purple;">Software Developer</b>
</h2>
<h3><b style="color: purple">OTIS Elevator Company</b></h3>
<h4><b style="color: purple">July 2018 – Ongoing Hyderabad,India</b> </h4>
<p>

<ul>
    <li> <b style="color: black">Developed a client-server micro-service in python, where client which is in
        this case IOS App will communicate with the server, in this case an IMX6
        microcontroller between two endpoints (sockets) through 3 way TLS Handshake.
    </b></li>
    <li><b style="color: black">Developed a feature that will read and write configuration to different micro
        services through TCP/IP (ZMQ) socket endpoints on the same machine.</b>
    </li>
    <li><b style="color: black">Developed a feature using Paho-MQTT client which fetches the Desired and
        reported properties from the Device Twin of the commissioned and provisioned device
        in the designated IOT Hub in the cloud environment</b>
    </li>
    <li><b style="color: black">Developed a feature that uses Zero-MQ library which is built on top of normal
        TCP/IP protocol to handle multiple clients and server simultaneously without
        any delay. The main agenda to develop this feature is to route multiple messages to and fro between more than
        one micro-services</b></li>
    <li><b style="color: black">Developed a feature that will show Date, time, Elevator’s position on LVDS
        screen attached to an IMX6 ARM controller.</b>
    </li>
    <li><b style="color: black">Developed a feature in PyQt and QML using python as backend to stream
        Voice and Video , on top of which all the elevator related information being
        displayed , from a local RTSP server installed in a control Room.</b>
    </li>
    <li><b style="color: black">Developed a feature that will show the news feed and weather related information on the LVDS Screen installed in
        the elevators which will be downloaded from an authorized source(RSS feed)</b>
    </li>
</ul>

</h4>
<!--<hr>-->
<h4><b style="color:purple;"> SELF PROJECTS</b></h4>
<ul>
    <li><b style="color: black">WeatherApp-Developed a webapplication using HTML,CSS,NodeJs,ExpressJs
        and third party APIs,where one can check for the weatherforecast of any location around the Globe.
    </b></li>
    <li><b style="color: black">BlogPost- Developed a Web application, using HTML,CSS, Bootstrap Djangoframework of python, where anyone can
        register itself and write a blog after login in the application and also edit,delete and update his/her own
        post.
        He/she can read other author’s post.
    </b> </li>
    <li><b style="color: black">QuestionApp-Developed an android application which were used to fetch all
        the previous semester’s/year’s question papers
    </b></li>
    <li><b style="color: black">Developed a blueTooth controlled robot using Arduino microcontroller</b></li>

</ul>
<!--<hr>-->
<h4> <b style="color: purple">EDUCATION</b></h4>
<p>
<ul>
    <li><b style="color: black">B.Tech Electronics & Communication Engineering Indian Institute of Information,Technology,Una(H.P)-7.94/10(CGPA)
        Aug,2014 - June,2018
    </b></li>
    <li><b style="color: black"> 12th Chinmaya Vidyalaya,Jharkahnd89/100(percent) ,April,2010 - March,2012</b></li>
    <li><b style="color: black"> 10th
        SVM,Bihar-10/10(CGPA) April,2010 - March,2011
    </b></li>
</ul>
</p>
<!--<hr>-->
<h4><b style="color:purple;"> ACHIEVEMENTS</b></h4>

<ul>
    <li><b style="color: black">Got TITAN Award for delivering voice and video solution for Japan’s customer
        requirement before assigned deadline.
    </b></li>
    <li><b style="color: black">Got PatOnBack(POB) award for excellent work for implementing DeviceIOTHub configuration Management system.</b></li>
</ul>
<!--<hr>-->
<h4><b style="color:purple;">PATENT</b></h4>
<p>
<ul><li><b style="color: black">Visual Inspection Diagnostics</b></li> </ul></p>

<!--<hr>-->
<h4><b style="color:purple;">Skills</b></h4>
<p>
<ul>
    <li><b style="color: black">Python3</b></li>
    <li><b style="color: black">Ds & Algo</b></li>
    <li><b style="color: black">Javascript</b></li>
    <li><b style="color: black">NodeJs</b></li>
    <li><b style="color: black">MongoDB</b></li>
    <li><b style="color: black">Azure</b></li>
    <li><b style="color: black">C++</b></li>
    <li><b style="color: black">Django</b></li>
    <li><b style="color: black">Core Java</b></li>
</ul>
</p>
<!--<hr>-->
<h4><b style="color: purple">CERTIFICATIONS</b></h4>
<p>
<ul>
    <li><b style="color: black">NN & Deep Learning</b></li>
    <li><b style="color: black">Structuring ML Projects</b></li>
    <li><b style="color: black">TensorFlow</b></li>
    <li><b style="color: black">Python3</b></li>
    <li><b style="color: black">Java S2E</b></li>
    <li><b style="color: black">Android</b></li>
</ul>
</p>

</body>
</html>